@media (max-width: 900px) {

  .navigation {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;

    padding-top: 45px;
  }

}

@media (max-width: 600px) {

  .navbar {
    padding: 0 14px;
  }

  .brand span {
    display: none;
  }

  .hero {
    padding:
      35px 18px;
  }

  .hero h1 {
    letter-spacing: -2px;
  }

  .hero p {
    font-size: 16px;
  }

}
